.custom {
    background-color: lightblue;
}

.spacing {
    margin: 10px;
}

body {
    width: 70%;
    margin: auto;
    max-width: 800px;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.container {
    display: flex;
}

.align_center {
    align-items: center;
}

.column {
    flex-grow: 1;
}